# Node
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Environment variables (ignore secret envs, allow example templates)
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local
!**/.env.example
!.env.example


# Local Screenshots & root reference images
/*.png
screenshot_*.png
*.swp
*.swo

# Allow static assets in web public folder
!apps/web/public/**

# OS
.DS_Store
Thumbs.db

